{% extends 'layout.html' %}
{% block onvan %}
mind reading

{% endblock %}

{% block content %}



<div class="row nt-4">
    <div class="col-3">
        <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <form method="post">
                    <input type="number", name="number", class="form-control">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
          </div>
    </div>
</div>

{% endblock %}