<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edmin admin is super flexible, powerful, clean &amp; modern responsive bootstrap admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Edmin admin template, best javascript admin, dashboard template, bootstrap admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <title>مدیریت</title>
    <!-- Favicon icon-->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon/favicon.png') }}" type="image/x-icon') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/favicon.png') }}" type="image/x-icon">
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Font awesome icon css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/@fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/@fortawesome/fontawesome-free/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/@fortawesome/fontawesome-free/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/@fortawesome/fontawesome-free/css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendors/@fortawesome/fontawesome-free/css/regular.css') }}">
    <!-- Ico Icon css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/@icon/icofont/icofont.css') }}">
    <!-- Flag Icon css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/flag-icon.css') }}">
    <!-- Themify Icon css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/themify-icons/themify-icons/css/themify.css') }}">
    <!-- Animation css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/animate.css/animate.css') }}">
    <!-- Whether Icon css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/weather-icons/css/weather-icons.min.css') }}">
    <!-- Apex Chart css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/apexcharts/dist/apexcharts.css') }}">
    <!-- Data Table css-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/simple-datatables/dist/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendors/scrollbar.css') }}">
    <!-- App css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link id="color" rel="stylesheet" href="{{ url_for('static', filename='css/color-1.css') }}" media="screen">
  </head>
  <body>
    <!-- tap to top-->
    <div class="tap-top">
      <svg class="feather">
        <use href="{{ url_for('static', filename='svg/feather-icons/dist/feather-sprite.svg#arrow-up') }}"></use>
      </svg>
    </div>
    <!-- loader-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <main class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page header start -->
      {% include "admin_header.html" %}
      <!-- Page header end-->
      <div class="page-body-wrapper">
        <!-- Page sidebar start-->
        {% include "admin_sidebar.html" %}
        <!-- Page sidebar end-->
       
        {% block content %}
		{% endblock %}

        <footer class="footer"> 
          <div class="container-fluid">
            <div class="row"> 
              <div class="col-md-6 footer-copyright">
                <p class="mb-0">Copyright 2024 © Edmin Template by pixelstrap.</p>
              </div>
              <div class="col-md-6">
                <p class="float-end mb-0">Hand crafted &amp; made with
                  <svg class="svg-color footer-icon">
                    <use href="{{ url_for('static', filename='svg/iconly-sprite.svg#footer-heart') }}"></use>
                  </svg>
                </p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!-- jquery-->
    <script src="{{ url_for('static', filename='js/vendors/jquery/dist/jquery.min.js') }}"></script>
    <!-- bootstrap js-->
    <script src="{{ url_for('static', filename='js/vendors/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
    <!-- Sidebar js-->
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <!-- Apexchart js-->
    <script src="{{ url_for('static', filename='js/vendors/apexcharts/dist/apexcharts.min.js') }}"></script>
    <!-- Chart js-->
    <script src="{{ url_for('static', filename='js/vendors/chart.js/dist/chart.umd.js') }}"></script>
    <!-- Datatable js-->
    <script src="{{ url_for('static', filename='js/vendors/simple-datatables/dist/umd/simple-datatables.js') }}"></script>
    <!-- default dashboard js-->
    <script src="{{ url_for('static', filename='js/dashboard/default.js') }}"></script>
    <!-- scrollbar js-->
    <script src="{{ url_for('static', filename='js/scrollbar/simplebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar/custom.js') }}"></script>
    <!-- scrollable-->
    <!-- customizer-->
    <script src="{{ url_for('static', filename='js/theme-customizer/customizer.js') }}"></script>
    <!-- custom script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>