{% extends "layout.html" %}
{% block onvan %}
result mind reading
{% endblock %}

{% block content %}


<h1>Hand landmark detection using the MediaPipe HandLandmarker task</h1>

<section id="demos" class="invisible">
  <h2>Demo: Detecting Images</h2>
  <p><b>Click on an image below</b> to see the key landmarks of the hands.</p>

  <div class="detectOnClick">
    <img src="https://assets.codepen.io/9177687/hand-ge4ca13f5d_1920.jpg" width="100%" crossorigin="anonymous"
      title="Click to get detection!" />
  </div>
  <div class="detectOnClick">
    <img src="https://assets.codepen.io/9177687/couple-gb7cb5db4c_1920.jpg" width="100%" crossorigin="anonymous"
      title="Click to get detection!" />
  </div>

  <h2>Demo: Webcam continuous hands landmarks detection</h2>
  <p>Hold your hand in front of your webcam to get real-time hand landmarker detection.</br>Click <b>enable webcam</b>
    below and grant access to the webcam if prompted.</p>

  <div id="liveView" class="videoView">
    <button id="webcamButton" class="mdc-button mdc-button--raised">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">ENABLE WEBCAM</span>
    </button>
    <div style="position: relative;">
      <video id="webcam" style="position: abso" autoplay playsinline></video>
      <canvas class="output_canvas" id="output_canvas" style="position: absolute; left: 0px; top: 0px;"></canvas>
    </div>
  </div>
</section>
<!-- partial -->

{% endblock %}