<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content="width, initial-scale =1.0">
        <title>Document</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css" >
        
    </head>
    <body>
        <img id="co-img" src="{{ url_for('static', filename='images/5.jpg') }}" alt="">
        <ul id="co-1">
            {% for item in contact %}
            <li> {{ item }} </li>
            {% endfor %}
            
        </ul>
    </body>