<!-- !+tab+tab -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- https://getbootstrap.com/docs/5.3/getting-started/download/ -->
    <link rel="stylesheet"  type="text/css" href="static/css/bootstrap.css">
    <title>Document</title>
    
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul> -->
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
<h1>AMR Analysis</h1>
  <br>
  <h3>Please For Calculating Your ARM, Input This Info:</h3>
  <br>
</form>
<form method="post" style="border-style: solid;border-radius: 10px;background-color:lightblue;padding: 5px;
width: 300px;height: 450px;border-width: 5px;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><b style="color:black;">Gender</b>  </label>
    <input type="text" class="form-control" name="gender">
    <div class="form-text"></div>
  </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"><b style="color:black;">Age</b>  </label>
      <input type="number" class="form-control" name="age">
      <div class="form-text"></div>
    </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label"><b style="color:black;">Weight [ kg ]</b>  </label>
    <input type="number" class="form-control" name="weight">
    <div class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label"><b style="color:black;">Height [ cm ]</b> </label>
    <input type="number" class="form-control" name="height">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- <br> -->
<!-- <h1>BMR Calculate</h1> -->
<!-- <form method="post"> -->
  
  <!-- <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <!-- <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
</div>




    <script src="static/css/bootstrap.js"> </script>
</body>
</html>